/* SETTINGS ------------------------------------- */

:root {
  --white: #f1f2f3;
  --primary: #070709;
  --secondary: #0a0b0f;
  --border: #1f222e;

  --width: 26vw;
  --height: 90vh;
}

#root {
  margin: 0;

  background-color: var(--primary);

  min-height: 100vh;

  display: flex;
  padding: 0 8vw;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* LAYOUT ------------------------------------- */

.section {
  margin-bottom: 350px !important;
}
.content {
  flex: 1 0 auto;

  margin-right: var(--width);
}

.profileCardNavBarWrapper {
  right: 8vw;
  width: var(--width);

  height: 100vh;
  position: fixed;

  display: flex;
  padding-left: 20px;
  align-items: center;
}
.profileCardNavBar {
  width: 100%;
  height: var(--height);

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profileCard {
  flex: 1 0 auto;
}
.navBar {
  padding: 10px 10px;
  height: 70px;
}
.overview {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.4fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px; */

  height: var(--height);
  margin: 5vh 0 0;
}
.overviewTopWrapper {
  display: flex;
  gap: 20px;
  flex: 1 0 auto;
  margin-bottom: 20px;
}

.overvieTimeline {
  /* grid-area: 1 / 1 / 2 / 2; */
  flex: 1 0 auto;
}
.overviewProjects {
  /* grid-area: 1 / 2 / 2 / 3; */
  flex: 1 0 auto;
}
.overviewWorkflow {
  /* grid-area: 2 / 1 / 3 / 3; */

  height: 170px;
}

/* STYLING ------------------------------------- */

.box {
  border-radius: 12px;
  border: 1px var(--border) solid;
  background-color: var(--secondary);
}

/* RESPONSIVENESS ------------------------------------- */

@media only screen and (max-width: 1024px) {
  .navBar {
    position: fixed;
    width: 400px;
    bottom: 5vh;
    right: 0;
    left: 0;
    margin: auto;
  }
  .content {
    margin-right: 0;
  }
  .overview {
    height: auto;
  }
  .overviewTopWrapper {
    height: var(--height);
    flex-direction: column;
  }
  .profileCardNavBarWrapper {
    position: static;
  }
}
